name: Build
permissions: {}
on:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    branches-ignore:
    - 'dependabot/**'
    paths-ignore:
    - '**.md'
    tags:
    - v*
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        required: false
        default: false
jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - uses: azuwis/actions/nix@main
      with:
        debug: ${{ github.event_name == 'workflow_dispatch' && inputs.debug }}
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: azuwis
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: Update offlineCache hash if needed
      env:
        GITHUB_EVENT_BEFORE: ${{ github.event.before }}
      run: |
        if [[ "$GITHUB_HEAD_REF" == dependabot/* ]] || \
           [ "$GITHUB_EVENT_BEFORE" == "0000000000000000000000000000000000000000" ] || \
           git diff --name-only "${GITHUB_EVENT_BEFORE}..${GITHUB_SHA}" | grep -Fqx yarn.lock; then
          nix run .#update
          git diff
          if [ "$GITHUB_EVENT_NAME" = "push" ] && [ "$GITHUB_REF_NAME" = "master" ] && \
           git diff --name-only | grep -Fqx flake.nix; then
            git config --global user.name 'github-actions[bot]'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git commit -m 'flake: Update offlineCache hash' flake.nix
            git push
          fi
        fi
    - name: Build
      run: |
        nix -L build .#
        test -e ./result/zigbee2mqtt-networkmap.js
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: zigbee2mqtt-networkmap
        path: ./result/zigbee2mqtt-networkmap.js
    - uses: azuwis/actions/nix/post@main
    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        path: result/
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
    - uses: azuwis/actions/release@main
      with:
        files: ./zigbee2mqtt-networkmap/zigbee2mqtt-networkmap.js
  pages:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@v4
      id: deployment
