name: Build
permissions: {}
on:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    branches-ignore:
    - 'dependabot/**'
    paths-ignore:
    - '**.md'
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        required: false
        default: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: azuwis/actions/nix@main
      with:
        debug: ${{ github.event_name == 'workflow_dispatch' && inputs.debug }}
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: azuwis
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: Build
      run: |
        nix -L build .#
        test -e ./result/zigbee2mqtt-networkmap.js
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: zigbee2mqtt-networkmap
        path: ./result/zigbee2mqtt-networkmap.js
    - uses: azuwis/actions/nix/post@main
    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        path: result/
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
    - uses: azuwis/actions/release@main
      with:
        files: ./zigbee2mqtt-networkmap/zigbee2mqtt-networkmap.js
  pages:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@v4
      id: deployment
